#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#question-text {
    margin-bottom: 2em; /* Twice as big */
    font-size: 2em; /* Twice as big */
    color: white;
    text-shadow: 2px 2px 4px black; /* Added black shadow for contrast */
}

#answer-input,
button {
    width: 50%; /* Adjust as needed for responsiveness */
    max-width: 400px; /* Limit maximum width for larger screens */
    padding: 1em;
    margin-bottom: 1em; /* Adjust as needed for spacing */
    font-size: 1em; /* Adjust as needed for font size */
}

.headlights-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw; /* Adjusted to 50% width */
    height: 50vh; /* Adjusted to 50% height */
    overflow: hidden;
    z-index: 1000;
}

.headlights {
    position: absolute;
    width: 8vw; /* Adjusted for responsiveness */
    height: 8vw; /* Adjusted for responsiveness */
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
    border: 0.4em solid white; /* White border */
    border-radius: 50%;
    box-shadow: 0 0 2em 1em white; /* Glow effect */
    animation: moveHeadlights 4s linear infinite; /* Doubled the speed */
}
